@font-face {font-family: "iconfont";
  src: url('~@/static/iconfont/iconfont.ttf') format('truetype')

}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshoucangchenggong:before {
  content: "\e613";
}

.iconlababofang:before {
  content: "\e6f7";
}

.iconguanyu:before {
  content: "\e7fa";
}

.iconVoice:before {
  content: "\e645";
}

.iconzuihuo:before {
  content: "\e66e";
}

.iconzan2:before {
  content: "\e606";
}

.iconhuati:before {
  content: "\e68c";
}

.icongerenxinxi1:before {
  content: "\e607";
}

.iconzan11:before {
  content: "\e608";
}

.icontianjia:before {
  content: "\e635";
}

.iconlianxi:before {
  content: "\e649";
}

.iconshanchu:before {
  content: "\e633";
}

.iconbianzu:before {
  content: "\e625";
}

.iconguanbi:before {
  content: "\e60a";
}

.iconicon_expression:before {
  content: "\e60b";
}

.icondingdan:before {
  content: "\e667";
}

.iconfabu:before {
  content: "\e609";
}

.iconarrow-left:before {
  content: "\e603";
}

.iconarrow-r:before {
  content: "\e60d";
}

.iconshouye-copy:before {
  content: "\e604";
}

.iconmy-selection:before {
  content: "\e605";
}

.iconaddTodo-nav:before {
  content: "\e600";
}

.iconkulian:before {
  content: "\e6be";
}

.iconyiban:before {
  content: "\e630";
}

.iconxiaolianmanyifuwu:before {
  content: "\e618";
}

.icondashang:before {
  content: "\e666";
}

.icongerenzhongxin20:before {
  content: "\e6d4";
}

.iconzixun1:before {
  content: "\e662";
}

.iconwenhao:before {
  content: "\e671";
}

.iconsousuo-copy:before {
  content: "\e602";
}

.iconsousuo:before {
  content: "\e601";
}

